<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button routerLink="/game-store" routerDirection="back">
        Juegos de Terror
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <h1>¡Explora los Mejores Juegos de Terror!</h1>
  </div>

  <div *ngIf="juegosTerror.length === 0" class="no-data">
    <p>No hay juegos disponibles en este momento.</p>
  </div>

  <ion-card *ngFor="let juego of juegosTerror">
    <ion-img [src]="juego.imagen" alt="juego"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ juego.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ juego.descripcion }}</p>
      <p class="precio">Precio: {{ juego.precio }}</p>
      <ion-button (click)="addToCart(juego)" color="primary">Añadir al carrito</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
